@model ProjetoTCC.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaPai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaPai.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExibirCardapio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExibirCardapio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
